<button id="menu">
    <span class="material-symbols-outlined">
        menu
    </span>
</button>
<nav>
    <button class="close">
        <span class="material-symbols-outlined">
            chevron_left
        </span>
    </button>
    <a class="logo" href="/">
        <picture>
            <img src="/logo.svg"/>
        </picture>
        <h2>Ascension</h2>                
    </a>
    <a href="/guides">Guides</a>
    <a href="/reference">Référence</a>
    <a href="https://github.com/Devrkela/Ascension" target="_blank">Télécharger
        <span class="material-symbols-outlined">
        open_in_new
    </span>
    </a>
</nav>
<div aria-hidden="true" class="scrim"></div>
