header{
    transform:translateY(-100%);
    opacity:0;
    transition:all 250ms ease;
}

header{
    height:52px;
    padding:0 12px 0 16px;
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    position:fixed;
    z-index:10;
    width:100%;
    box-shadow:0px 1px 4px #b7b7b7;
    top:0;
    left:0;
    background:white;
    box-sizing:border-box;
}


header.show{
    opacity:1;
    transform:translateY(0%);
}

header > #menu{
    width:52px;
    height:52px;
    border:none;
    background:none;

    display:none;
    cursor:pointer;
}

header > nav{
    display:flex;
    align-items:center;
    list-style:none;
    width:100vw;
}

header > nav > a.logo > picture{
    height:80%;
}

header > nav > a.logo > picture > img{
    height:100%;
}

header > nav > a.logo > h2{
    font-size:18px;
    font-weight:500;
}

header > nav > li{
    height:100%;
}

header > nav > a {
    text-decoration:none;
    color:black;
    font-size:14px;
    height:100%;
    transition:color 500ms ease;
    padding:0 16px 0 16px;
    display:flex;
    align-items:center;
}

header > nav > a:hover {
    color:#651fff;
}

header > nav > a{
    display:flex;
    gap:8px;
}

header > nav > a > span.material-symbols-outlined{
    font-size:16px;
}

header > nav > a.logo{
    height:100%;
    display:flex;
    align-items:center;
    color:black;
    text-decoration:none;
    padding-left:0;
}


header > nav > button.close{
    background:#f1f1f1;
    border:none;

    align-self:end;
    width:48px;
    height:48px;
    border-radius:24px;
    margin-top:8px;
    margin-right:8px;

    cursor:pointer;

    transition:background 250ms ease;

    display:none;
}

header > nav > button.close:hover{
    background:#ebebeb;
}

@media(width < 840px){
    header {
        padding:0;
    }
    header > nav{
        position:fixed;
        top:0;
        left:0;
        height:100vh;
        width:360px;
        background:white;
        z-index:1;
        flex-direction:column;
        align-items:start;
        padding-left:16px;
        transform:translateX(-100%);
        transition: transform 250ms ease;
    }

    header > nav > a, header > nav > a.logo{
        height:52px;
        width:100%;
        box-sizing:border-box;
    }

    header > nav > a.logo{
        margin-top:32px;
        margin-bottom:32px;
    }

    header > #menu{
        display:block;
    }

    body[menu=true] header > nav{
        transform:translateX(0%);
    }

    body[menu=true] .scrim{
        opacity:1;
        pointer-events:unset;
        z-index:0;
    }

    header > nav > button.close{
        display:block;
    }
}
