body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#color_wheel {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  clip-path: url(#clip);
  background-image: conic-gradient(lch(50% 100 0) 0deg,lch(50% 100 1) 1deg,lch(50% 100 2) 2deg,lch(50% 100 3) 3deg,lch(50% 100 4) 4deg,lch(50% 100 5) 5deg,lch(50% 100 6) 6deg,lch(50% 100 7) 7deg,lch(50% 100 8) 8deg,lch(50% 100 9) 9deg,lch(50% 100 10) 10deg,lch(50% 100 11) 11deg,lch(50% 100 12) 12deg,lch(50% 100 13) 13deg,lch(50% 100 14) 14deg,lch(50% 100 15) 15deg,lch(50% 100 16) 16deg,lch(50% 100 17) 17deg,lch(50% 100 18) 18deg,lch(50% 100 19) 19deg,lch(50% 100 20) 20deg,lch(50% 100 21) 21deg,lch(50% 100 22) 22deg,lch(50% 100 23) 23deg,lch(50% 100 24) 24deg,lch(50% 100 25) 25deg,lch(50% 100 26) 26deg,lch(50% 100 27) 27deg,lch(50% 100 28) 28deg,lch(50% 100 29) 29deg,lch(50% 100 30) 30deg,lch(50% 100 31) 31deg,lch(50% 100 32) 32deg,lch(50% 100 33) 33deg,lch(50% 100 34) 34deg,lch(50% 100 35) 35deg,lch(50% 100 36) 36deg,lch(50% 100 37) 37deg,lch(50% 100 38) 38deg,lch(50% 100 39) 39deg,lch(50% 100 40) 40deg,lch(50% 100 41) 41deg,lch(50% 100 42) 42deg,lch(50% 100 43) 43deg,lch(50% 100 44) 44deg,lch(50% 100 45) 45deg,lch(50% 100 46) 46deg,lch(50% 100 47) 47deg,lch(50% 100 48) 48deg,lch(50% 100 49) 49deg,lch(50% 100 50) 50deg,lch(50% 100 51) 51deg,lch(50% 100 52) 52deg,lch(50% 100 53) 53deg,lch(50% 100 54) 54deg,lch(50% 100 55) 55deg,lch(50% 100 56) 56deg,lch(50% 100 57) 57deg,lch(50% 100 58) 58deg,lch(50% 100 59) 59deg,lch(50% 100 60) 60deg,lch(50% 100 61) 61deg,lch(50% 100 62) 62deg,lch(50% 100 63) 63deg,lch(50% 100 64) 64deg,lch(50% 100 65) 65deg,lch(50% 100 66) 66deg,lch(50% 100 67) 67deg,lch(50% 100 68) 68deg,lch(50% 100 69) 69deg,lch(50% 100 70) 70deg,lch(50% 100 71) 71deg,lch(50% 100 72) 72deg,lch(50% 100 73) 73deg,lch(50% 100 74) 74deg,lch(50% 100 75) 75deg,lch(50% 100 76) 76deg,lch(50% 100 77) 77deg,lch(50% 100 78) 78deg,lch(50% 100 79) 79deg,lch(50% 100 80) 80deg,lch(50% 100 81) 81deg,lch(50% 100 82) 82deg,lch(50% 100 83) 83deg,lch(50% 100 84) 84deg,lch(50% 100 85) 85deg,lch(50% 100 86) 86deg,lch(50% 100 87) 87deg,lch(50% 100 88) 88deg,lch(50% 100 89) 89deg,lch(50% 100 90) 90deg,lch(50% 100 91) 91deg,lch(50% 100 92) 92deg,lch(50% 100 93) 93deg,lch(50% 100 94) 94deg,lch(50% 100 95) 95deg,lch(50% 100 96) 96deg,lch(50% 100 97) 97deg,lch(50% 100 98) 98deg,lch(50% 100 99) 99deg,lch(50% 100 100) 100deg,lch(50% 100 101) 101deg,lch(50% 100 102) 102deg,lch(50% 100 103) 103deg,lch(50% 100 104) 104deg,lch(50% 100 105) 105deg,lch(50% 100 106) 106deg,lch(50% 100 107) 107deg,lch(50% 100 108) 108deg,lch(50% 100 109) 109deg,lch(50% 100 110) 110deg,lch(50% 100 111) 111deg,lch(50% 100 112) 112deg,lch(50% 100 113) 113deg,lch(50% 100 114) 114deg,lch(50% 100 115) 115deg,lch(50% 100 116) 116deg,lch(50% 100 117) 117deg,lch(50% 100 118) 118deg,lch(50% 100 119) 119deg,lch(50% 100 120) 120deg,lch(50% 100 121) 121deg,lch(50% 100 122) 122deg,lch(50% 100 123) 123deg,lch(50% 100 124) 124deg,lch(50% 100 125) 125deg,lch(50% 100 126) 126deg,lch(50% 100 127) 127deg,lch(50% 100 128) 128deg,lch(50% 100 129) 129deg,lch(50% 100 130) 130deg,lch(50% 100 131) 131deg,lch(50% 100 132) 132deg,lch(50% 100 133) 133deg,lch(50% 100 134) 134deg,lch(50% 100 135) 135deg,lch(50% 100 136) 136deg,lch(50% 100 137) 137deg,lch(50% 100 138) 138deg,lch(50% 100 139) 139deg,lch(50% 100 140) 140deg,lch(50% 100 141) 141deg,lch(50% 100 142) 142deg,lch(50% 100 143) 143deg,lch(50% 100 144) 144deg,lch(50% 100 145) 145deg,lch(50% 100 146) 146deg,lch(50% 100 147) 147deg,lch(50% 100 148) 148deg,lch(50% 100 149) 149deg,lch(50% 100 150) 150deg,lch(50% 100 151) 151deg,lch(50% 100 152) 152deg,lch(50% 100 153) 153deg,lch(50% 100 154) 154deg,lch(50% 100 155) 155deg,lch(50% 100 156) 156deg,lch(50% 100 157) 157deg,lch(50% 100 158) 158deg,lch(50% 100 159) 159deg,lch(50% 100 160) 160deg,lch(50% 100 161) 161deg,lch(50% 100 162) 162deg,lch(50% 100 163) 163deg,lch(50% 100 164) 164deg,lch(50% 100 165) 165deg,lch(50% 100 166) 166deg,lch(50% 100 167) 167deg,lch(50% 100 168) 168deg,lch(50% 100 169) 169deg,lch(50% 100 170) 170deg,lch(50% 100 171) 171deg,lch(50% 100 172) 172deg,lch(50% 100 173) 173deg,lch(50% 100 174) 174deg,lch(50% 100 175) 175deg,lch(50% 100 176) 176deg,lch(50% 100 177) 177deg,lch(50% 100 178) 178deg,lch(50% 100 179) 179deg,lch(50% 100 180) 180deg,lch(50% 100 181) 181deg,lch(50% 100 182) 182deg,lch(50% 100 183) 183deg,lch(50% 100 184) 184deg,lch(50% 100 185) 185deg,lch(50% 100 186) 186deg,lch(50% 100 187) 187deg,lch(50% 100 188) 188deg,lch(50% 100 189) 189deg,lch(50% 100 190) 190deg,lch(50% 100 191) 191deg,lch(50% 100 192) 192deg,lch(50% 100 193) 193deg,lch(50% 100 194) 194deg,lch(50% 100 195) 195deg,lch(50% 100 196) 196deg,lch(50% 100 197) 197deg,lch(50% 100 198) 198deg,lch(50% 100 199) 199deg,lch(50% 100 200) 200deg,lch(50% 100 201) 201deg,lch(50% 100 202) 202deg,lch(50% 100 203) 203deg,lch(50% 100 204) 204deg,lch(50% 100 205) 205deg,lch(50% 100 206) 206deg,lch(50% 100 207) 207deg,lch(50% 100 208) 208deg,lch(50% 100 209) 209deg,lch(50% 100 210) 210deg,lch(50% 100 211) 211deg,lch(50% 100 212) 212deg,lch(50% 100 213) 213deg,lch(50% 100 214) 214deg,lch(50% 100 215) 215deg,lch(50% 100 216) 216deg,lch(50% 100 217) 217deg,lch(50% 100 218) 218deg,lch(50% 100 219) 219deg,lch(50% 100 220) 220deg,lch(50% 100 221) 221deg,lch(50% 100 222) 222deg,lch(50% 100 223) 223deg,lch(50% 100 224) 224deg,lch(50% 100 225) 225deg,lch(50% 100 226) 226deg,lch(50% 100 227) 227deg,lch(50% 100 228) 228deg,lch(50% 100 229) 229deg,lch(50% 100 230) 230deg,lch(50% 100 231) 231deg,lch(50% 100 232) 232deg,lch(50% 100 233) 233deg,lch(50% 100 234) 234deg,lch(50% 100 235) 235deg,lch(50% 100 236) 236deg,lch(50% 100 237) 237deg,lch(50% 100 238) 238deg,lch(50% 100 239) 239deg,lch(50% 100 240) 240deg,lch(50% 100 241) 241deg,lch(50% 100 242) 242deg,lch(50% 100 243) 243deg,lch(50% 100 244) 244deg,lch(50% 100 245) 245deg,lch(50% 100 246) 246deg,lch(50% 100 247) 247deg,lch(50% 100 248) 248deg,lch(50% 100 249) 249deg,lch(50% 100 250) 250deg,lch(50% 100 251) 251deg,lch(50% 100 252) 252deg,lch(50% 100 253) 253deg,lch(50% 100 254) 254deg,lch(50% 100 255) 255deg,lch(50% 100 256) 256deg,lch(50% 100 257) 257deg,lch(50% 100 258) 258deg,lch(50% 100 259) 259deg,lch(50% 100 260) 260deg,lch(50% 100 261) 261deg,lch(50% 100 262) 262deg,lch(50% 100 263) 263deg,lch(50% 100 264) 264deg,lch(50% 100 265) 265deg,lch(50% 100 266) 266deg,lch(50% 100 267) 267deg,lch(50% 100 268) 268deg,lch(50% 100 269) 269deg,lch(50% 100 270) 270deg,lch(50% 100 271) 271deg,lch(50% 100 272) 272deg,lch(50% 100 273) 273deg,lch(50% 100 274) 274deg,lch(50% 100 275) 275deg,lch(50% 100 276) 276deg,lch(50% 100 277) 277deg,lch(50% 100 278) 278deg,lch(50% 100 279) 279deg,lch(50% 100 280) 280deg,lch(50% 100 281) 281deg,lch(50% 100 282) 282deg,lch(50% 100 283) 283deg,lch(50% 100 284) 284deg,lch(50% 100 285) 285deg,lch(50% 100 286) 286deg,lch(50% 100 287) 287deg,lch(50% 100 288) 288deg,lch(50% 100 289) 289deg,lch(50% 100 290) 290deg,lch(50% 100 291) 291deg,lch(50% 100 292) 292deg,lch(50% 100 293) 293deg,lch(50% 100 294) 294deg,lch(50% 100 295) 295deg,lch(50% 100 296) 296deg,lch(50% 100 297) 297deg,lch(50% 100 298) 298deg,lch(50% 100 299) 299deg,lch(50% 100 300) 300deg,lch(50% 100 301) 301deg,lch(50% 100 302) 302deg,lch(50% 100 303) 303deg,lch(50% 100 304) 304deg,lch(50% 100 305) 305deg,lch(50% 100 306) 306deg,lch(50% 100 307) 307deg,lch(50% 100 308) 308deg,lch(50% 100 309) 309deg,lch(50% 100 310) 310deg,lch(50% 100 311) 311deg,lch(50% 100 312) 312deg,lch(50% 100 313) 313deg,lch(50% 100 314) 314deg,lch(50% 100 315) 315deg,lch(50% 100 316) 316deg,lch(50% 100 317) 317deg,lch(50% 100 318) 318deg,lch(50% 100 319) 319deg,lch(50% 100 320) 320deg,lch(50% 100 321) 321deg,lch(50% 100 322) 322deg,lch(50% 100 323) 323deg,lch(50% 100 324) 324deg,lch(50% 100 325) 325deg,lch(50% 100 326) 326deg,lch(50% 100 327) 327deg,lch(50% 100 328) 328deg,lch(50% 100 329) 329deg,lch(50% 100 330) 330deg,lch(50% 100 331) 331deg,lch(50% 100 332) 332deg,lch(50% 100 333) 333deg,lch(50% 100 334) 334deg,lch(50% 100 335) 335deg,lch(50% 100 336) 336deg,lch(50% 100 337) 337deg,lch(50% 100 338) 338deg,lch(50% 100 339) 339deg,lch(50% 100 340) 340deg,lch(50% 100 341) 341deg,lch(50% 100 342) 342deg,lch(50% 100 343) 343deg,lch(50% 100 344) 344deg,lch(50% 100 345) 345deg,lch(50% 100 346) 346deg,lch(50% 100 347) 347deg,lch(50% 100 348) 348deg,lch(50% 100 349) 349deg,lch(50% 100 350) 350deg,lch(50% 100 351) 351deg,lch(50% 100 352) 352deg,lch(50% 100 353) 353deg,lch(50% 100 354) 354deg,lch(50% 100 355) 355deg,lch(50% 100 356) 356deg,lch(50% 100 357) 357deg,lch(50% 100 358) 358deg,lch(50% 100 359) 359deg);
}

*[aria-disabled] {
  pointer-events: none;
}

/**** Typography ****/
html {
  --outline-width: 1px;
  --outline-style: solid;
  /*** Normal ***/
  /** Display large **/
  --font-display-large : var(--font-display-large-font-weight) var(--font-display-large-font-size)/var(--font-display-large-line-height) var(--font-display-large-font-family);
  --font-display-large-letter-spacing : var(--font-display-large-tracking);
  --font-display-large-font-variation : var(--font-display-large-font-variation-wght), var(--font-display-large-font-variation-GRAD), var(--font-display-large-font-variation-wdth), var(--font-display-large-font-variation-ROND), var(--font-display-large-font-variation-opsz), var(--font-display-large-font-variation-CRSV), var(--font-display-large-font-variation-sInt), var(--font-display-large-font-variation-FILL), var(--font-display-large-font-variation-HEXP);
  --font-display-large-font-family : Inter;
  --font-display-large-font-weight : 400;
  --font-display-large-font-size : 57px;
  --font-display-large-tracking : -0.25px;
  --font-display-large-line-height : 64px;
  --font-display-large-font-variation-wght: "wght" 400;
  --font-display-large-font-variation-GRAD: "GRAD" 0;
  --font-display-large-font-variation-wdth: "wdth" 100;
  --font-display-large-font-variation-ROND: "ROND" 0;
  --font-display-large-font-variation-opsz: "opsz" 57;
  --font-display-large-font-variation-CRSV: "CRSV" 0;
  --font-display-large-font-variation-sInt: "sInt" 0;
  --font-display-large-font-variation-FILL: "FILL" 0;
  --font-display-large-font-variation-HEXP: "HEXP" 0;
  /** Display medium **/
  --font-display-medium : var(--font-display-medium-font-weight) var(--font-display-medium-font-size)/var(--font-display-medium-line-height) var(--font-display-medium-font-family);
  --font-display-medium-letter-spacing : var(--font-display-medium-tracking);
  --font-display-medium-font-variation : var(--font-display-medium-font-variation-wght), var(--font-display-medium-font-variation-GRAD), var(--font-display-medium-font-variation-wdth), var(--font-display-medium-font-variation-ROND), var(--font-display-medium-font-variation-opsz), var(--font-display-medium-font-variation-CRSV), var(--font-display-medium-font-variation-sInt), var(--font-display-medium-font-variation-FILL), var(--font-display-medium-font-variation-HEXP);
  --font-display-medium-font-family : Inter;
  --font-display-medium-font-weight : 400;
  --font-display-medium-font-size : 45px;
  --font-display-medium-tracking : 0px;
  --font-display-medium-line-height : 52px;
  --font-display-medium-font-variation-wght: "wght" 400;
  --font-display-medium-font-variation-GRAD: "GRAD" 0;
  --font-display-medium-font-variation-wdth: "wdth" 100;
  --font-display-medium-font-variation-ROND: "ROND" 0;
  --font-display-medium-font-variation-opsz: "opsz" 45;
  --font-display-medium-font-variation-CRSV: "CRSV" 0;
  --font-display-medium-font-variation-sInt: "sInt" 0;
  --font-display-medium-font-variation-FILL: "FILL" 0;
  --font-display-medium-font-variation-HEXP: "HEXP" 0;
  /** Display small **/
  --font-display-small : var(--font-display-small-font-weight) var(--font-display-small-font-size)/var(--font-display-small-line-height) var(--font-display-small-font-family);
  --font-display-small-letter-spacing : var(--font-display-small-tracking);
  --font-display-small-font-variation : var(--font-display-small-font-variation-wght), var(--font-display-small-font-variation-GRAD), var(--font-display-small-font-variation-wdth), var(--font-display-small-font-variation-ROND), var(--font-display-small-font-variation-opsz), var(--font-display-small-font-variation-CRSV), var(--font-display-small-font-variation-sInt), var(--font-display-small-font-variation-FILL), var(--font-display-small-font-variation-HEXP);
  --font-display-small-font-family : Inter;
  --font-display-small-font-weight : 400;
  --font-display-small-font-size : 36px;
  --font-display-small-tracking : 0px;
  --font-display-small-line-height : 44px;
  --font-display-small-font-variation-wght: "wght" 400;
  --font-display-small-font-variation-GRAD: "GRAD" 0;
  --font-display-small-font-variation-wdth: "wdth" 100;
  --font-display-small-font-variation-ROND: "ROND" 0;
  --font-display-small-font-variation-opsz: "opsz" 36;
  --font-display-small-font-variation-CRSV: "CRSV" 0;
  --font-display-small-font-variation-sInt: "sInt" 0;
  --font-display-small-font-variation-FILL: "FILL" 0;
  --font-display-small-font-variation-HEXP: "HEXP" 0;
  /** Headline large **/
  --font-headline-large : var(--font-headline-large-font-weight) var(--font-headline-large-font-size)/var(--font-headline-large-line-height) var(--font-headline-large-font-family);
  --font-headline-large-letter-spacing : var(--font-headline-large-tracking);
  --font-headline-large-font-variation : var(--font-headline-large-font-variation-wght), var(--font-headline-large-font-variation-GRAD), var(--font-headline-large-font-variation-wdth), var(--font-headline-large-font-variation-ROND), var(--font-headline-large-font-variation-opsz), var(--font-headline-large-font-variation-CRSV), var(--font-headline-large-font-variation-sInt), var(--font-headline-large-font-variation-FILL), var(--font-headline-large-font-variation-HEXP);
  --font-headline-large-font-family : Inter;
  --font-headline-large-font-weight : 400;
  --font-headline-large-font-size : 32px;
  --font-headline-large-tracking : 0px;
  --font-headline-large-line-height : 40px;
  --font-headline-large-font-variation-wght: "wght" 400;
  --font-headline-large-font-variation-GRAD: "GRAD" 0;
  --font-headline-large-font-variation-wdth: "wdth" 100;
  --font-headline-large-font-variation-ROND: "ROND" 0;
  --font-headline-large-font-variation-opsz: "opsz" 32;
  --font-headline-large-font-variation-CRSV: "CRSV" 0;
  --font-headline-large-font-variation-sInt: "sInt" 0;
  --font-headline-large-font-variation-FILL: "FILL" 0;
  --font-headline-large-font-variation-HEXP: "HEXP" 0;
  /** Headline medium **/
  --font-headline-medium : var(--font-headline-medium-font-weight) var(--font-headline-medium-font-size)/var(--font-headline-medium-line-height) var(--font-headline-medium-font-family);
  --font-headline-medium-letter-spacing : var(--font-headline-medium-tracking);
  --font-headline-medium-font-variation : var(--font-headline-medium-font-variation-wght), var(--font-headline-medium-font-variation-GRAD), var(--font-headline-medium-font-variation-wdth), var(--font-headline-medium-font-variation-ROND), var(--font-headline-medium-font-variation-opsz), var(--font-headline-medium-font-variation-CRSV), var(--font-headline-medium-font-variation-sInt), var(--font-headline-medium-font-variation-FILL), var(--font-headline-medium-font-variation-HEXP);
  --font-headline-medium-font-family : Inter;
  --font-headline-medium-font-weight : 400;
  --font-headline-medium-font-size : 28px;
  --font-headline-medium-tracking : 0px;
  --font-headline-medium-line-height : 36px;
  --font-headline-medium-font-variation-wght: "wght" 400;
  --font-headline-medium-font-variation-GRAD: "GRAD" 0;
  --font-headline-medium-font-variation-wdth: "wdth" 100;
  --font-headline-medium-font-variation-ROND: "ROND" 0;
  --font-headline-medium-font-variation-opsz: "opsz" 28;
  --font-headline-medium-font-variation-CRSV: "CRSV" 0;
  --font-headline-medium-font-variation-sInt: "sInt" 0;
  --font-headline-medium-font-variation-FILL: "FILL" 0;
  --font-headline-medium-font-variation-HEXP: "HEXP" 0;
  /** Headline small **/
  --font-headline-small : var(--font-headline-small-font-weight) var(--font-headline-small-font-size)/var(--font-headline-small-line-height) var(--font-headline-small-font-family);
  --font-headline-small-letter-spacing : var(--font-headline-small-tracking);
  --font-headline-small-font-variation : var(--font-headline-small-font-variation-wght), var(--font-headline-small-font-variation-GRAD), var(--font-headline-small-font-variation-wdth), var(--font-headline-small-font-variation-ROND), var(--font-headline-small-font-variation-opsz), var(--font-headline-small-font-variation-CRSV), var(--font-headline-small-font-variation-sInt), var(--font-headline-small-font-variation-FILL), var(--font-headline-small-font-variation-HEXP);
  --font-headline-small-font-family : Inter;
  --font-headline-small-font-weight : 400;
  --font-headline-small-font-size : 24px;
  --font-headline-small-tracking : 0px;
  --font-headline-small-line-height : 32px;
  --font-headline-small-font-variation-wght: "wght" 400;
  --font-headline-small-font-variation-GRAD: "GRAD" 0;
  --font-headline-small-font-variation-wdth: "wdth" 100;
  --font-headline-small-font-variation-ROND: "ROND" 0;
  --font-headline-small-font-variation-opsz: "opsz" 24;
  --font-headline-small-font-variation-CRSV: "CRSV" 0;
  --font-headline-small-font-variation-sInt: "sInt" 0;
  --font-headline-small-font-variation-FILL: "FILL" 0;
  --font-headline-small-font-variation-HEXP: "HEXP" 0;
  /** Title large **/
  --font-title-large : var(--font-title-large-font-weight) var(--font-title-large-font-size)/var(--font-title-large-line-height) var(--font-title-large-font-family);
  --font-title-large-letter-spacing : var(--font-title-large-tracking);
  --font-title-large-font-variation : var(--font-title-large-font-variation-wght), var(--font-title-large-font-variation-GRAD), var(--font-title-large-font-variation-wdth), var(--font-title-large-font-variation-ROND), var(--font-title-large-font-variation-opsz), var(--font-title-large-font-variation-CRSV), var(--font-title-large-font-variation-sInt), var(--font-title-large-font-variation-FILL), var(--font-title-large-font-variation-HEXP);
  --font-title-large-font-family : Inter;
  --font-title-large-font-weight : 400;
  --font-title-large-font-size : 22px;
  --font-title-large-tracking : 0px;
  --font-title-large-line-height : 24px;
  --font-title-large-font-variation-wght: "wght" 400;
  --font-title-large-font-variation-GRAD: "GRAD" 0;
  --font-title-large-font-variation-wdth: "wdth" 100;
  --font-title-large-font-variation-ROND: "ROND" 0;
  --font-title-large-font-variation-opsz: "opsz" 22;
  --font-title-large-font-variation-CRSV: "CRSV" 0;
  --font-title-large-font-variation-sInt: "sInt" 0;
  --font-title-large-font-variation-FILL: "FILL" 0;
  --font-title-large-font-variation-HEXP: "HEXP" 0;
  /** Title medium **/
  --font-title-medium : var(--font-title-medium-font-weight) var(--font-title-medium-font-size)/var(--font-title-medium-line-height) var(--font-title-medium-font-family);
  --font-title-medium-letter-spacing : var(--font-title-medium-tracking);
  --font-title-medium-font-variation : var(--font-title-medium-font-variation-wght), var(--font-title-medium-font-variation-GRAD), var(--font-title-medium-font-variation-wdth), var(--font-title-medium-font-variation-ROND), var(--font-title-medium-font-variation-opsz), var(--font-title-medium-font-variation-CRSV), var(--font-title-medium-font-variation-sInt), var(--font-title-medium-font-variation-FILL), var(--font-title-medium-font-variation-HEXP);
  --font-title-medium-font-family : Inter;
  --font-title-medium-font-weight : 400;
  --font-title-medium-font-size : 16px;
  --font-title-medium-tracking : 0.15px;
  --font-title-medium-line-height : 24px;
  --font-title-medium-font-variation-wght: "wght" 400;
  --font-title-medium-font-variation-GRAD: "GRAD" 0;
  --font-title-medium-font-variation-wdth: "wdth" 100;
  --font-title-medium-font-variation-ROND: "ROND" 0;
  --font-title-medium-font-variation-opsz: "opsz" 16;
  --font-title-medium-font-variation-CRSV: "CRSV" 0;
  --font-title-medium-font-variation-sInt: "sInt" 0;
  --font-title-medium-font-variation-FILL: "FILL" 0;
  --font-title-medium-font-variation-HEXP: "HEXP" 0;
  /** Title small **/
  --font-title-small : var(--font-title-small-font-weight) var(--font-title-small-font-size)/var(--font-title-small-line-height) var(--font-title-small-font-family);
  --font-title-small-letter-spacing : var(--font-title-small-tracking);
  --font-title-small-font-variation : var(--font-title-small-font-variation-wght), var(--font-title-small-font-variation-GRAD), var(--font-title-small-font-variation-wdth), var(--font-title-small-font-variation-ROND), var(--font-title-small-font-variation-opsz), var(--font-title-small-font-variation-CRSV), var(--font-title-small-font-variation-sInt), var(--font-title-small-font-variation-FILL), var(--font-title-small-font-variation-HEXP);
  --font-title-small-font-family : Inter;
  --font-title-small-font-weight : 400;
  --font-title-small-font-size : 14px;
  --font-title-small-tracking : 0.1px;
  --font-title-small-line-height : 20px;
  --font-title-small-font-variation-wght: "wght" 400;
  --font-title-small-font-variation-GRAD: "GRAD" 0;
  --font-title-small-font-variation-wdth: "wdth" 100;
  --font-title-small-font-variation-ROND: "ROND" 0;
  --font-title-small-font-variation-opsz: "opsz" 14;
  --font-title-small-font-variation-CRSV: "CRSV" 0;
  --font-title-small-font-variation-sInt: "sInt" 0;
  --font-title-small-font-variation-FILL: "FILL" 0;
  --font-title-small-font-variation-HEXP: "HEXP" 0;
  /** Body large **/
  --font-body-large : var(--font-body-large-font-weight) var(--font-body-large-font-size)/var(--font-body-large-line-height) var(--font-body-large-font-family);
  --font-body-large-letter-spacing : var(--font-body-large-tracking);
  --font-body-large-font-variation : var(--font-body-large-font-variation-wght), var(--font-body-large-font-variation-GRAD), var(--font-body-large-font-variation-wdth), var(--font-body-large-font-variation-ROND), var(--font-body-large-font-variation-opsz), var(--font-body-large-font-variation-CRSV), var(--font-body-large-font-variation-sInt), var(--font-body-large-font-variation-FILL), var(--font-body-large-font-variation-HEXP);
  --font-body-large-font-family : Inter;
  --font-body-large-font-weight : 400;
  --font-body-large-font-size : 16px;
  --font-body-large-tracking : 0.5px;
  --font-body-large-line-height : 24px;
  --font-body-large-font-variation-wght: "wght" 400;
  --font-body-large-font-variation-GRAD: "GRAD" 0;
  --font-body-large-font-variation-wdth: "wdth" 100;
  --font-body-large-font-variation-ROND: "ROND" 0;
  --font-body-large-font-variation-opsz: "opsz" 16;
  --font-body-large-font-variation-CRSV: "CRSV" 0;
  --font-body-large-font-variation-sInt: "sInt" 0;
  --font-body-large-font-variation-FILL: "FILL" 0;
  --font-body-large-font-variation-HEXP: "HEXP" 0;
  /** Body medium **/
  --font-body-medium : var(--font-body-medium-font-weight) var(--font-body-medium-font-size)/var(--font-body-medium-line-height) var(--font-body-medium-font-family);
  --font-body-medium-letter-spacing : var(--font-body-medium-tracking);
  --font-body-medium-font-variation : var(--font-body-medium-font-variation-wght), var(--font-body-medium-font-variation-GRAD), var(--font-body-medium-font-variation-wdth), var(--font-body-medium-font-variation-ROND), var(--font-body-medium-font-variation-opsz), var(--font-body-medium-font-variation-CRSV), var(--font-body-medium-font-variation-sInt), var(--font-body-medium-font-variation-FILL), var(--font-body-medium-font-variation-HEXP);
  --font-body-medium-font-family : Inter;
  --font-body-medium-font-weight : 400;
  --font-body-medium-font-size : 14px;
  --font-body-medium-tracking : 0.25px;
  --font-body-medium-line-height : 20px;
  --font-body-medium-font-variation-wght: "wght" 400;
  --font-body-medium-font-variation-GRAD: "GRAD" 0;
  --font-body-medium-font-variation-wdth: "wdth" 100;
  --font-body-medium-font-variation-ROND: "ROND" 0;
  --font-body-medium-font-variation-opsz: "opsz" 14;
  --font-body-medium-font-variation-CRSV: "CRSV" 0;
  --font-body-medium-font-variation-sInt: "sInt" 0;
  --font-body-medium-font-variation-FILL: "FILL" 0;
  --font-body-medium-font-variation-HEXP: "HEXP" 0;
  /** Body small **/
  --font-body-small : var(--font-body-small-font-weight) var(--font-body-small-font-size)/var(--font-body-small-line-height) var(--font-body-small-font-family);
  --font-body-small-letter-spacing : var(--font-body-small-tracking);
  --font-body-small-font-variation : var(--font-body-small-font-variation-wght), var(--font-body-small-font-variation-GRAD), var(--font-body-small-font-variation-wdth), var(--font-body-small-font-variation-ROND), var(--font-body-small-font-variation-opsz), var(--font-body-small-font-variation-CRSV), var(--font-body-small-font-variation-sInt), var(--font-body-small-font-variation-FILL), var(--font-body-small-font-variation-HEXP);
  --font-body-small-font-family : Inter;
  --font-body-small-font-weight : 400;
  --font-body-small-font-size : 12px;
  --font-body-small-tracking : 0.4px;
  --font-body-small-line-height : 16px;
  --font-body-small-font-variation-wght: "wght" 400;
  --font-body-small-font-variation-GRAD: "GRAD" 0;
  --font-body-small-font-variation-wdth: "wdth" 100;
  --font-body-small-font-variation-ROND: "ROND" 0;
  --font-body-small-font-variation-opsz: "opsz" 12;
  --font-body-small-font-variation-CRSV: "CRSV" 0;
  --font-body-small-font-variation-sInt: "sInt" 0;
  --font-body-small-font-variation-FILL: "FILL" 0;
  --font-body-small-font-variation-HEXP: "HEXP" 0;
  /** Label large **/
  --font-label-large : var(--font-label-large-font-weight) var(--font-label-large-font-size)/var(--font-label-large-line-height) var(--font-label-large-font-family);
  --font-label-large-letter-spacing : var(--font-label-large-tracking);
  --font-label-large-font-variation : var(--font-label-large-font-variation-wght), var(--font-label-large-font-variation-GRAD), var(--font-label-large-font-variation-wdth), var(--font-label-large-font-variation-ROND), var(--font-label-large-font-variation-opsz), var(--font-label-large-font-variation-CRSV), var(--font-label-large-font-variation-sInt), var(--font-label-large-font-variation-FILL), var(--font-label-large-font-variation-HEXP);
  --font-label-large-font-family : Inter;
  --font-label-large-font-weight : 500;
  --font-label-large-font-size : 14px;
  --font-label-large-tracking : 0.1px;
  --font-label-large-line-height : 20px;
  --font-label-large-font-variation-wght: "wght" 500;
  --font-label-large-font-variation-GRAD: "GRAD" 0;
  --font-label-large-font-variation-wdth: "wdth" 100;
  --font-label-large-font-variation-ROND: "ROND" 0;
  --font-label-large-font-variation-opsz: "opsz" 14;
  --font-label-large-font-variation-CRSV: "CRSV" 0;
  --font-label-large-font-variation-sInt: "sInt" 0;
  --font-label-large-font-variation-FILL: "FILL" 0;
  --font-label-large-font-variation-HEXP: "HEXP" 0;
  /** Label medium **/
  --font-label-medium : var(--font-label-medium-font-weight) var(--font-label-medium-font-size)/var(--font-label-medium-line-height) var(--font-label-medium-font-family);
  --font-label-medium-letter-spacing : var(--font-label-medium-tracking);
  --font-label-medium-font-variation : var(--font-label-medium-font-variation-wght), var(--font-label-medium-font-variation-GRAD), var(--font-label-medium-font-variation-wdth), var(--font-label-medium-font-variation-ROND), var(--font-label-medium-font-variation-opsz), var(--font-label-medium-font-variation-CRSV), var(--font-label-medium-font-variation-sInt), var(--font-label-medium-font-variation-FILL), var(--font-label-medium-font-variation-HEXP);
  --font-label-medium-font-family : Inter;
  --font-label-medium-font-weight : 500;
  --font-label-medium-font-size : 12px;
  --font-label-medium-tracking : 0.5px;
  --font-label-medium-line-height : 16px;
  --font-label-medium-font-variation-wght: "wght" 500;
  --font-label-medium-font-variation-GRAD: "GRAD" 0;
  --font-label-medium-font-variation-wdth: "wdth" 100;
  --font-label-medium-font-variation-ROND: "ROND" 0;
  --font-label-medium-font-variation-opsz: "opsz" 12;
  --font-label-medium-font-variation-CRSV: "CRSV" 0;
  --font-label-medium-font-variation-sInt: "sInt" 0;
  --font-label-medium-font-variation-FILL: "FILL" 0;
  --font-label-medium-font-variation-HEXP: "HEXP" 0;
  /** Label small **/
  --font-label-small : var(--font-label-small-font-weight) var(--font-label-small-font-size)/var(--font-label-small-line-height) var(--font-label-small-font-family);
  --font-label-small-letter-spacing : var(--font-label-small-tracking);
  --font-label-small-font-variation : var(--font-label-small-font-variation-wght), var(--font-label-small-font-variation-GRAD), var(--font-label-small-font-variation-wdth), var(--font-label-small-font-variation-ROND), var(--font-label-small-font-variation-opsz), var(--font-label-small-font-variation-CRSV), var(--font-label-small-font-variation-sInt), var(--font-label-small-font-variation-FILL), var(--font-label-small-font-variation-HEXP);
  --font-label-small-font-family : Inter;
  --font-label-small-font-weight : 500;
  --font-label-small-font-size : 11px;
  --font-label-small-tracking : 0.5px;
  --font-label-small-line-height : 16px;
  --font-label-small-font-variation-wght: "wght" 500;
  --font-label-small-font-variation-GRAD: "GRAD" 0;
  --font-label-small-font-variation-wdth: "wdth" 100;
  --font-label-small-font-variation-ROND: "ROND" 0;
  --font-label-small-font-variation-opsz: "opsz" 11;
  --font-label-small-font-variation-CRSV: "CRSV" 0;
  --font-label-small-font-variation-sInt: "sInt" 0;
  --font-label-small-font-variation-FILL: "FILL" 0;
  --font-label-small-font-variation-HEXP: "HEXP" 0;
  --font-emphasize-font-weight : 500;
  --font-emphasize-label-font-weight : 700;
}
