html{
    height:100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    margin:0;
    font-family:Inter;

    height:max-content;
    padding-top:52px;
}


main{
    width:100%;
    height:100%;
    
    /** On évite que l'élément déborde. **/
    box-sizing:border-box;
}

.content {
    scroll-behavior:smooth;
}
main {
    padding-left:32px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow:auto;
    scroll-behavior: smooth;
}

@supports (scrollbar-color: auto) and (scrollbar-width: auto) {
    * {
        scrollbar-color: #9d9d9d white;
        scrollbar-width:thin ;
    }
}

.scrim{
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    background: #0000009c;
    z-index:10;
    opacity:0;
    pointer-events:none;
    transition:opacity 250ms ease;
}