.barre_navigation_interne{
    grid-column:1/3;
    padding-left:16px;
    width:100%;
    border-bottom:1px solid #e6e6e6;
    display:none;

    box-sizing:border-box;
}

.barre_navigation_interne > .menu{
    width:max-content;
    height:48px;
    background:white;
    border:none;
    display:flex;

    justify-content:center;
    align-items:center;
    gap:16px;

    cursor:pointer;
}


@media (width < 840px){
    .barre_navigation_interne{
        display:block;
    }
}