*{
    transform-style: preserve-3d;
}

body{
    grid-template-columns:240px 1fr;
}

main, aside{
    opacity:1;
    transform:translateX(0);
    grid-column:2/3;
    grid-row:1/2;
}
aside{
    grid-column:1/2;
    grid-row:1/2;
    height:100%;
    width:240px;
    position:fixed;
    justify-content:start;
    align-items:start;
    border-right:1px solid #eaeaea;
}

main{
    overflow:hidden;
}
aside.reference.navigation > nav{
    display:flex;
    flex-direction:column;
    align-items:start;
    margin-left:32px;
    margin-top:32px;
    justify-content:start;
}

aside.reference.navigation > nav > ul{
    margin:0;
    list-style:none;
    padding-left:16px;
}
aside.reference.navigation > nav > h3{
    font-weight:500;
    margin:0;
}

aside.reference.navigation > nav > ul > li > a{
    color:#878787;
    text-decoration:none;
    font-size:14px;
    transition:color 500ms ease;
}

aside.reference.navigation > nav> ul > li:hover > a{
    color:black;
}

aside.reference.navigation > nav > ul > li{
    margin-top:8px;
    margin-bottom:8px;
}

main.reference{
    padding-top:24px;
    display:grid;
    grid-template-columns:360px 1fr;
}

main.reference h1{
    font-size:32px;
    margin:0;
    margin-bottom:18px;
}

main.reference  p{
    margin:0;
}
main.reference  hr{
    width:100%;
    margin-top:32px;
    margin-bottom:32px;
    border:none;
    border-top: 1px solid #eaeaea;
}

p{
    font-weight:400;
}
main  h3{
    margin:0;
    font-weight:600;
    font-size:20px;
}

span.parametre{
    color:#9c27af;
}

.type{
    color:#521cc8;
}

main.reference > section{
    display:flex;
    flex-direction:column;
}

main.reference > section > *,main.reference .sub > * {
    margin-bottom:16px;
    margin-top:16px;
}

.sub{
    display:flex;
    flex-direction:column;
    margin-left:24px;
}
main.reference > section > *:first-child{
    margin-top:0;
}

main.reference > section > ul{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-bottom:0;
    margin-top:0;
}

#interface{
    margin-top: 32px;
}

main > aside {
    grid-column:1/2;
    position:absolute;
    top:0;
}
.content{
    grid-column:2/3;
    overflow:auto;
    windth:100%;
    padding-left:16px;
    padding-right:16px;
}

#menu_secondary{
    width:max-content;
    height:48px;
    background:white;
    border:none;
    display:flex;

    justify-content:center;
    align-items:center;
    gap:16px;

    cursor:pointer;
}

.menu_bar{
    width:100%;
    border-bottom:1px solid #e6e6e6;
    display:none;
}

.scrim1{
    position:absolute;
    width:100%;
    height:100%;
    background:#00000085;
    z-index:1;

    cursor:pointer;
    opacity:0;
    pointer-events:none;
}

main{
    padding:0px;
}

@media (width < 840px){
    .content{
        grid-column:1/3;
    }

    main > aside{
        background:white;
        transform:translate3d(-100%, 0, 1px);
        border-right:unset;
        z-index:2;
        position:absolute;
        transition:transform 250ms ease;
    }


    main.reference {
        padding-top:0;
    }

    .menu_bar{
        display:block;
    }

    body[submenu=true] header{
        z-index:1;
    }


    body[submenu=true] aside{
        transform:translateX(0);
    }
    

    body[submenu=true] .scrim1{
        opacity:1;
        pointer-events:unset;
    }
}

@media (width < 600px){

}