

canvas {
    width:50vmin;
    height:50vmin;
}

fieldset{
    color:white;
}

#range, fieldset{
    margin-top:16px;
    display:flex;
    flex-direction:column;
    justify-content:left;
    font:400 14px / 20px Inter;
    letter-spacing:0.25px;
    
    color:#1b1b1b;
    width:100%;
    max-width:314px;
}

fieldset{
    padding:8px;
}

input[type=radio]{
    margin-right:8px;
}
a{
    color:#11bff3;
}